.fa-2{
  font-size: 2em !important;
}

.fa-dark{
  color: #1c2735;
}


.footer ul li a {
  color: #7c8389;
  transition: all 0.2s;
}

.footer ul li a:hover {
  color: #fff;
}

.footer h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  color:#fff;
}

input:focus, textarea:focus{
  border-top: 1px solid #DEE4E8 !important;
  border-right: 1px solid #DEE4E8 !important;
  border-left: 1px solid #DEE4E8 !important;
  border-bottom: 3px solid #2387D4 !important;
  transition: all 0.2s linear !important;
}

select:focus{
  border: 1px solid #DEE4E8 !important;
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before{
  border-color: #DEE4E8 !important;
}

//.card-header {
//  border-bottom: 2px solid #8e9092;
//  background-color: #e3e8ea;
//  line-height: 2.5;
//  font-size: 20px;
//  font-weight: bold;
//  font-family: sans-serif;
//}

.card.mb-3 {
  margin-bottom: 30px !important;
}
.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
  border-width: 0;
  transition: all .2s;
}
.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(26,54,126,0.125);
  border-radius: .25rem;
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: .625rem;
  height: 3.5rem;
  //border: 3px solid #dce2e8;
}
.card-header, .card-title {
  //text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  color: #1c8ee3  ;
  background-color: #fff;
  border-bottom: 2px solid #dce2e8;
}




.sbm-serial{
  width: 4rem;
}

.text-green {
  color: #40b113;
}

.text-red {
  color: #f51e62;
}

.text-blue {
  color: #236ebd;
}

.cursor-pointer {
  cursor: pointer;
}

.fa-small{
  font-size: 0.8rem !important;
}

.fa-1-5x{
  font-size: 1.5rem !important;
}

.fa-1x{
  font-size: 1rem !important;
}

.fa-6x{
  font-size: 6rem !important;
}

.fa-7x{
  font-size: 7rem !important;
}

.fa-8x{
  font-size: 8rem !important;
}

.fa-9x{
  font-size: 9rem !important;
}
.fa-10x{
  font-size: 10rem !important;
}

body,html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.inner-container {
  min-height: calc(100vh - 20px);
}

.vh-80{
  height: 80vh !important;
}

.rounded-2{
  border-radius: 2rem !important;
}

.text-gray-500{
  color: $gray-500;
}

.text-gray-600{
  color: $gray-600;
}
